<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="animate.css" version="3.3.0.0" targetFramework="mdd81" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.3.3" targetFramework="mdd81" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.9.1" targetFramework="mdd81" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.2.9" targetFramework="win" />
</packages>