<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="animate.css" version="3.3.0.0" targetFramework="mdd81" />
  <package id="jQuery" version="2.1.4" targetFramework="mdd81" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.3.3" targetFramework="mdd81" />
  <package id="RequireJS" version="2.1.22" targetFramework="win" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.2.9" targetFramework="win" />
</packages>