* {
    /* prevent callout when holding tap on links (the native dialog that comes up) */
    -webkit-touch-callout: none;
    /* prevent webkit from resizing text to fit */
    -webkit-text-size-adjust: none;
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

span {
    color: white;
    cursor: default;
}

input[type="checkbox"] {
    -webkit-appearance: none;
}

input[type="text"] {
    -webkit-appearance: none;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
    text-decoration: none;    
}

    input[type="text"]:focus {
        -webkit-appearance: none;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline: none;
    }

input::-webkit-input-placeholder {
    opacity: .8;
}

button {
    border: none;
    background: none;
    text-align: center;
    outline: none;
    color: white;
}

    button > span {
        color: white;
    }

@font-face {
    font-family: circulat;
    src: url(../fonts/circulat.ttf);
}

html, body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: circulat;
    background-color: #FF0000;
}


button > span {
    cursor: pointer;
}

.page {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
}

#header {
    height: 40px;
    /*border-bottom-color: white;
    border-bottom-width: 6px;
    border-bottom-style: solid;*/
    padding: 0 10px 0 10px;
}

    #header span {
        font-size: 4em;
        color: white;
    }

.popupmessage {
    position: absolute;
    margin: 0 auto;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 4em;
    font-family: circulat;
    font-weight: bold;
    color: white;
    display: none;
}

    .popupmessage > span {
    }

    .popupmessage .title {
    }

    .popupmessage .message {
    }

#plusscore {
}

.plusscore {
    top: 20px;
    text-align: right;
}

    .plusscore > span {
        font-size: 0.7em;
    }

#timebonus {
}

#oops {
}

.oops {
    top: 30%;
}

#score {
    display: block;
    float: right;
}

    #score > span {
    }

#forbiddencolor {
    top: 40%;
}

    #forbiddencolor span {
        font-size: 0.8em;
    }

#timer {
    display: block;
    float: left;
}

    #timer > span {
    }

#countdown {
}

    #countdown > span {
        font-size: 2em;
    }

#currentforbiddencolor {
    display: none;
    float: left;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.credits {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40px;
    text-align: right;
    font-size: 1em;
    margin-right: 20px;
}

.howtoplay {
    position: relative;
    top: 6%;
    margin: 0px 8px 0 8px;
    text-align: center;
    font-weight: normal;
    font-size: 1.3em;
    padding: 0 0 0 10px;
}

    .howtoplay span {
        font-size: 1.5em;
    }

#welcome {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
}

div.startbutton {
    bottom: 10%;
    position: absolute;
    width: 100%;
    text-align: center;
}

.startbutton button {
    cursor: pointer;
}

.startbutton > span {
    font-family: circulat;
    font-size: 8em;
    color: white;
    cursor: pointer;
}

.startbutton > img {
    border: 0;
    width: 100px;
    height: 100%;
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    filter: invert(100%);
}

button:focus {
    outline: 0;
}

.ripple {
    position: absolute;
    background: rgba(0,0,0,.25);
    -ms-border-radius: 100%;
    border-radius: 100%;
    pointer-events: none;
    /* hardware accel */
    /*-webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    /* other props */
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
}

    .ripple.show {
        -webkit-animation: ripple .5s ease-out;
        -moz-animation: ripple .5s ease-out;
        -ms-animation: ripple .5s ease-out;
        -o-animation: ripple .5s ease-out;
        animation: ripple .5s ease-out;
    }

@-moz-keyframes ripple {
    to {
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
        transform: scale3d(1.5, 1.5, 1.5);
        opacity: 0;
    }
}

@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
        transform: scale3d(1.5, 1.5, 1.5);
        opacity: 0;
    }
}

@keyframes ripple {
    to {
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
        transform: scale3d(1.5, 1.5, 1.5);
        opacity: 0;
    }
}

.highscores {
    top: 32%;
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2em;
}

    .highscores ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .highscores ul li {
            list-style: none;
            padding: 0;
            margin: 0;
        }


    .highscores table {
        text-align: left;
        width: 90%;
        margin: 0 auto;
    }

        .highscores table td.score {
            text-align: right;
        }

        .highscores table td.name {
            text-align: left;
        }

#gameoverscreen .gameover {
    position: absolute;
    top: 35%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#gameoverscreen .score {
    position: absolute;
    top: 65%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#gameoverscreen .gameover span {
    font-size: 3em;
}

#gameoverscreen .score > span {
    font-size: 6em;
}

@media all and (orientation:portrait) {
    #gameoverscreen .form > span {
        display: block;
    }

    #gameoverscreen .form > button {
        display: inline;
    }
}

@media all and (orientation:landscape) {
    #gameoverscreen .form > span {
        display: inline;
    }

    #gameoverscreen .form > button {
        display: inline;
    }
}

#gameoverscreen .again {
    position: absolute;
    top: 5%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

    #gameoverscreen .again button > span {
        font-size: 3em;
    }

#gameoverscreen .tomainscreen {
    font-size: 0.6em;
}

#gameoverscreen .form {
    position: absolute;
    top: 5%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

    #gameoverscreen .form span {
        font-size: 2em;
        margin: 8px 0 8px 0;
        text-align: center;
    }

    #gameoverscreen .form input[type=text] {
        height: 40px;
        width: 180px;
        font-size: 1.8em;
        padding: 4px;
    }

input[type=text] {
    background-color: rgba(0,0,0,0.1);
    border-radius: 30px;
    border: 1px dotted black;
    color: white;
}
