* {
    /* prevent callout when holding tap on links (the native dialog that comes up) */
    -webkit-touch-callout: none;
    /* prevent webkit from resizing text to fit */
    -webkit-text-size-adjust: none;
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-user-select: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
}

input::-webkit-input-placeholder {
    opacity: .8;
}

@font-face {
    font-family: circulat;
    src: url(../fonts/circulat.ttf);
}

html, body {
    -webkit-user-select: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: circulat;
}

#page {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#frame {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    height: 40px;
    /*border-bottom-color: white;
    border-bottom-width: 6px;
    border-bottom-style: solid;*/
    padding: 0 10px 0 10px;
}

    #header span {
        font-size: 4em;
        color: white;
    }

.popupmessage {
    position: absolute;
    margin: 0 auto;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 4em;
    font-family: circulat;
    font-weight: bold;    
    color: white;
    display: none;
}

    .popupmessage > span {
    }

    .popupmessage .title {
    }

    .popupmessage .message {
    }

#plusscore {
}

.plusscore {
    top: 20px;
    text-align: right;
}

    .plusscore > span {
        font-size: 0.7em;
    }

#timebonus {
}

#oops {
}

.oops {
    top: 30%;
}

#score {
    display: block;
    float: right;
}

    #score > span {
    }

#forbiddencolor {
    top: 40%;
}

    #forbiddencolor span {
        font-size: 0.8em;
    }

#timer {
    display: block;
    float: left;
}

    #timer > span {
    }

#countdown {
}

    #countdown > span {
    }

#currentforbiddencolor {
    display: none;
    float: left;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.howtoplay {
    margin: 20px 8px 0 8px;
}

    .howtoplay span {
        font-size: 1.25em;
    }

#startscreen {
    position: absolute;
    top: 20%;
}

div.startbutton {
    width: 100%;
    text-align: center;
}

.startbutton button {
    cursor: pointer;
}

.startbutton > span {
    font-family: circulat;
    font-size: 8em;
    color: white;
}

.startbutton > img {
    border: 0;
    width: 100px;
    height: 100%;
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    filter: invert(100%);
}

button:focus {
    outline: 0;
}

.howtoplay {
    color: white;
    font-weight: normal;
    font-size: 1.3em;
    padding: 0 0 0 10px;
}

.ripple {
    position: absolute;
    background: rgba(0,0,0,.25);
    -ms-border-radius: 100%;
    border-radius: 100%;
    pointer-events: none;
    /* hardware accel */
    /*-webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    /* other props */
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
}

    .ripple.show {
        -webkit-animation: ripple .5s ease-out;
        -moz-animation: ripple .5s ease-out;
        -ms-animation: ripple .5s ease-out;
        -o-animation: ripple .5s ease-out;
        animation: ripple .5s ease-out;
    }

@keyframes ripple {
    to {
        -webkit-transform: scale3d(1.5, 1.5, 1.5);
        transform: scale3d(1.5, 1.5, 1.5);
        opacity: 0;
    }
}
