@font-face {
    font-family: circulat;
    src: url(../fonts/circulat.ttf);
}

html, body {
    -webkit-user-select: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: circulat;
}

#page {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#frame {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    height: 40px;
    /*border-bottom-color: white;
    border-bottom-width: 6px;
    border-bottom-style: solid;*/
    padding: 0 10px 0 10px;
}

    #header span {
        font-size: 4em;
        color: white;
    }

.popupmessage {
    position: absolute;
    margin: 0 auto;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 4em;
    font-family: circulat;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    display: none;
}

    .popupmessage > span {
    }

    .popupmessage .title {
    }

    .popupmessage .message {
    }

#plusscore {
    top: 20px;
    text-align: right;
}

    #plusscore > span {
        font-size: 0.7em;
    }

#timebonus {
}

#oops {
    top: 30%;
}

#score {
    display: block;
    float: right;
}

#forbiddencolor {
    top: 50%;
}

    #forbiddencolor span {
        font-size: 0.8em;
    }

#timer {
    display: block;
    float: left;
}

    #timer > span {
    }

#score > span {
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

#startbutton {
    width: 200px;
    height: 100%;
}
